@import 'vars';
@import 'fonts';
@import 'reset';
@import 'theme';
@import 'global';
@import 'libs';

#root {
  text-align: center;
}

#root h1 {
  // margin-bottom: 20px;
  padding: 20px;
}

#root canvas {
  display: block;
  margin: 0 auto;
}


@import 'media';